@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@600&family=Niramit:wght@500&family=Sarabun&display=swap');

body
    {font-family: 'Sarabun', sans-serif;}
h1 
    {font-family: 'Mitr', sans-serif;}
p   
    {font-family: 'Sarabun', sans-serif;}
navbar 
    {font-family: 'Niramit', sans-serif;}