@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;700&family=Niramit&family=Sarabun&display=swap');

body
    {font-family: 'Sarabun', sans-serif;}
h3, h4, h5, h6 
    {
    font-family: 'Mitr', sans-serif;
    }
h1
    {
    font-family: 'Mitr', sans-serif;
    font-weight: 700;
    }
h2
    {
    font-family: 'Mitr', sans-serif;
    font-weight: 400;
    }
p   
    {font-family: 'Sarabun', sans-serif;}

/* Style the header */
header {
  background-color: #666666;
  padding: 30px;
  text-align: center;
  font-size: 60px;
  color: white;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #969696;
  padding: 10px;
  text-align: center;
  color: white;
}

/* nav */
nav {
    font-family: 'Niramit', sans-serif;
}

/* button */
button {
    font-family: 'Mitr', sans-serif !important;
}

a.btn {
    font-family: 'Mitr', sans-serif;
  }